:root {
  @font-face {
    font-family: 'Scala Sans Pro';
    src: url(fonts/ScalaSansPro-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: 'Scala Sans Pro';
    font-weight: bold;
    src: url(fonts/ScalaSansPro-Bold.otf) format('opentype');
  }

  // primary colors
  --color-blue-main: #0588F0;
  --color-orange-main: #FF8200;
  --color-blue-secondary: #003DA5;
  --color-black: #333F48;

  // accent colors
  --color-blue-background: #B9D9EB;
  --color-green: #009A44;
  --color-yellow: #F2A900;
  --color-red: #DA291C;

  --border-radius-value: 15px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  font-family: Scala Sans Pro;
  line-height: 1.5;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

#main-content {
  min-height: calc(100vh - 95px);
}
